* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
    display: inline-block;
    max-width: fit-content;
    border: 1px solid;
    border-radius: 5px;
    border-left: 6px solid blue;
}

.title {
    font-size: 20px;
    padding-left: 5px;
    background-color: #Bcbcbc;
}

.item {
    display: flex;
    height: fit-content;
}

.book_img {
    width: 35%;
    min-height: 180px;
    width: 180px;
}

.book_img img {
    height: 100%;
    width: 100%;
}

.details {
    margin-left: 5px;
    margin-right: 5px;
    width: 65%;
    border-bottom: 1px solid darkgray;
    overflow: hidden;
}

.description {
    padding-top: 0px;
}

.subtitle {
    color: darkgray;
    margin: 0px;
    padding: 8px 0px 0px;
    border-bottom: 1px solid darkgray;
}

.m {
    font-size: 15px;
}

.bold {
    font-weight: bold;
}

.content {
    overflow-wrap: break-word;
}

.content p {
    height: 100px;
}

.row1 {
    display: flex;
    gap: 10px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    align-items: baseline;
}

.col2 {
    width: 50%;
}

.tag {
    font-weight: 500;
    color: white;
    background-color: brown;
    border-radius: 30px;
    padding: 5px;
}

.br-nr {
    border-radius: 0px;
}

.stock {
    background-color: #Bcbcbc;
    border-radius: 30px;
    margin: 5px 0px 5px 0px;
    padding: 5px;
}

.stock b {
    background-color: #Bcbcbc;
}

.yes {
    color: green;
}

.no {
    color: red;
}

.user_card {
    display: flex;
    width: 100%;
}

.user_pic {
    padding: 3px;
    margin-right: 3px;
    align-self: center;
}

.user_pic img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
}

.username {
    align-self: center;
}

.user_name {
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 15px;
    margin-right: 5px;
}

.user_id {
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    color: blueviolet;
}

.view {
    flex: 1;
    text-align: center;
    padding-top: 5px;
    border: 1px solid #Bcbcbc;
    margin: 10px;
}

a {
    color: darkblue;
    text-decoration: none;
}